pkgbase = mekle-bin
	pkgdesc = Fast project discovery tool for developers (prebuilt binary)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/kristoferssolo/mekle
	install = mekle.install
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = glibc
	depends = gcc-libs
	provides = mekle
	conflicts = mekle
	conflicts = mekle-git
	source = config.toml::https://raw.githubusercontent.com/kristoferssolo/mekle/v0.1.0/config/config.toml
	sha256sums = ef0441b3de96875b2eb09774d1b5a2c9cccc10c46e6660db6243c42fe4d11a57
	source_x86_64 = mekle-0.1.0-x86_64-unknown-linux-gnu.tar.gz::https://github.com/kristoferssolo/mekle/releases/download/v0.1.0/mekle-0.1.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = c7ea46855c2a0877c8f25bd878fc111489b2bc4c82ac212813d946a614c08f9b
	source_aarch64 = mekle-0.1.0-aarch64-unknown-linux-gnu.tar.gz::https://github.com/kristoferssolo/mekle/releases/download/v0.1.0/mekle-0.1.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = f50713f2c34e3f4dcb820ceeceacac62e42da51b7773b136077c4f25f82d618c

pkgname = mekle-bin
